	{{#each partials.postContext.posts}}
        	  <li class="w3-padding-16">
                <img src={{image}} alt="Image" class="w3-left w3-margin-right" style="width:50px">
                <span class="w3-large">{{heading}}</span><br>
                <span>{{description}}</span>
              </li>
        {{/each}}