
<style>
.page {
	height: 500px;
	text-align: center;
}
h1 {
	font-size: 10rem;
}
p {
	font-size: 1.3rem;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
</style>
<div class="page">
	<h1>404</h1>
	<p>Uh oh! Looks like something broke.</p>

	<a class="w3-btn w3-red" href="/home">Take me Away</a>
</div>