{{#section 'head'}}
	<link rel="stylesheet" href="css/page-error.css">
{{/section}}
<div class="pageError">
	<h1>404</h1>
	<p>Uh oh! Looks like something broke.</p>

	<a class="w3-btn w3-red" href="/home">Take me Away</a>
</div>