{{#section 'head'}}
	<link rel="stylesheet" href="css/page-error.css">
{{/section}}
<div class="pageError">
	<h1>500</h1>
	<p>ALERT Internal Sever ERROR.</p>

	<a class="w3-btn w3-red" href="/home">Take me Away</a>
</div>